.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFECD2; 
  padding: 20px;
}




.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
}

.hero .btn-main {
  background-color: #FF6B6B;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.hero .btn-main:hover {
  background-color: #E64A4A;
}
